.adjustmentRow {
  margin-top: -2rem;
 
  @include media(">=lg") {
   margin-top: -10rem;
  }
 
  .team_content {
   font-size: 1rem;
  }
 
  .callout_heading {
   font-size: 1.6rem;
   line-height: 1;
  }
 } 
