.post-type-archive-apartment {
  .footer-form-wrapper {
    &.bg-dark {
      background-color: $light !important;
    }
  }
}

.row-apartment-search {
  .col-apartment-search {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    padding-top: 5.375rem;
    padding-left: 3.0rem;
    padding-right: 3.0rem;
    padding-bottom: 3.25rem;
    background: $dark;
    margin-top: -2.25rem;
    margin-bottom: 0;
    margin-right: auto;
    margin-left: 0;

    .form-group {
      margin-bottom: 0;
      padding-left: 0.25rem;
      padding-right: 0.25rem;

      .label-filter {
        width: 100%;
        display: inline-block;
        font-size: 1rem;
        padding-right: 4rem;
      }

      .label-filter-apartment {
        width: 100%;
        display: inline-block;
        font-size: 1rem;
      }

      .form-control {
        padding: 1rem 2rem 1rem .5rem;
        height: auto;
        text-align: left;
        border: 0;
      }

      .btn-outline-white {
        padding: 1.0625rem 2rem;
        height: auto;
      }
    }

    .label-filter {
      color: $white;
    }
  }

  .col-apartment-prepend {
    padding-top: 3.25rem;
    padding-left: 3rem;
    padding-right: 3rem;
    padding-bottom: 3.25rem;
  }
}

#homepageFilters {
  .col-apartment-search {
    background: $primary;
    margin-top: 0;
    padding-top: 3.25rem;
    padding-left: 0;
    padding-right: 3rem;
    padding-bottom: 3.25rem;
  }

  .label-filter {
    color: $dark;
  }

  .btn {
    background-color: $dark !important;
    border: 0 !important;
  }
}

.row-apartments-filters {
  .vertical-sep {
    height: 100%;
    background: rgba($black, 0.75);
    width: 1px;
    display: inline-block;
  }

  .fa {
    font-size: 1rem;
  }

  .btn-link {
    border-bottom: 1px solid rgba($dark, 0);
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0.825rem;
    transition: border-color .15s linear !important;

    &.active,
    &:hover,
    &:focus {
      border-bottom: 1px solid rgba($dark, .825);
    }
  }
}

// .row-apartments-list {
//   .card-body {
//     @include media(">=xl") {
//       padding: 2rem;
//     }
//   }
//   .card-title {
//     margin-bottom: .75rem;
//     margin-top: 0;
//   }
//   .card-footer {
//     background: none;
//     padding: 0 2rem 1.75rem;
//     border: 0;
//   }
//   .card-img-top {
//     object-fit: cover;
//     object-position: center;
//     height: 15rem;
//   }
// }
#featuredApartments {
  .card {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-end;
    justify-content: space-between;
    width: 100%;
    max-width: calc(100% - 2rem);

    @include media(">=lg") {
      max-width: calc(100% - 6.25rem);
    }

    margin-left: auto;
    margin-right: auto;
    margin-top: -2.375rem;

    @include media(">=md") {
      margin-top: -5.375rem;
    }
  }

  .card-body {
    flex: 1 1 auto;
    padding: 1.25rem;
  }

  .card-footer {
    padding: 0 1.25rem 1.25rem;

    @include media(">=md") {
      padding: 1.25rem;
    }
  }

  .featured-apartment-img {
    max-height: 335px;
    height: 335px;

    @include media(">=lg") {
      max-height: 500px;
      height: 500px;
    }

    object-fit:cover;
    font-family: 'object-fit: cover;';
  }
}

#featuredApartmentsNavigation {
  width: 100%;
  display: flex;
  justify-content: center;

  @include media(">=lg") {
    width: auto;
    display: inline-flex;
  }

  .slick-prev,
  .slick-next {
    display: none !important;

    @include media(">=lg") {
      display: inline-block !important;
    }
  }

  .slick-dots li button {
    background: #808386;
    border-radius: 100%;
    height: 20px;
    width: 20px;
    color: transparent;
    padding: 0;

    @include media(">=lg") {
      background: 0;
      display: block;
      height: auto;
      width: auto;
      color: #808386;
    }
  }

  .slick-dots li.slick-active button {
    background: 0 !important;
    border: 1px solid $black;

    @include media(">=lg") {
      background: 0;
      display: block;
      height: auto;
      width: auto;
      border: 0;
      color: $black;
    }
  }
}

#apartmentsSlider {
  .col-48 {
    >img {
      width: 100%;
      object-fit: cover;
      object-position: center;
      height: 64vh;
      max-height: 64vh;
    }
  }
}

#field_12_11 {
  display: none !important;
}

#apartmentContent {
  padding-left: .3125rem;
  padding-right: .3125rem;
  @include media(">=lg") {
    padding-left: 0;
    padding-right: 0;
  }
}

#contentId {
  display: none !important;
  @include media(">=lg") {
    display: block !important;
  }
}

#loadedSearchApp { 
  #apartmentFilters {
    @include media("<lg") {
      margin-bottom: -16px !important;
    }
  }
}