#apartmentsRow {
  height: auto;
  position: relative;
  display: block;
  width: 100%;

  img {
    max-width: 100%;
    object-fit: cover;
    object-position: center;
    display: block;
    width: 100%;
    height: 74vh;
    overflow: hidden;
    position: relative;
  }
}

.wrapper {
  &.wrapper-apartment-search {
    padding-top: calc(37vh - 62px);
  }
}

#apartmentsRow {
  height: auto;
  max-height: 100%;
  .col-48 {
    height: auto;
  max-height: 100%;
    img {
      height: auto;
      max-height: 100%;
    }
  }
}

#loadedSearchApp {
  position: relative;
  z-index: 20;
  display: block;
  width: 100%;
  height: auto;
}

.page-id-1939 #loadedSearchApp h2 {
    margin-top: 0;
    font-weight: 500;
    font-size: 2rem;
 @include media(">=md") {
    font-size: 2.875rem;
    }
}

.page-id-1939 .p-h2-block {
  padding: 1rem 2rem;
   @include media(">=md") {
        padding: 2rem 3rem;
    }
    
}
