body {

  .bg-light,
  .bg-white {
    a {
      color: $dark;
    }
  }
}

.content-offset-image-block-wrapper {
  position: relative;

  @include media(">=lg") {
    padding-bottom: 0 !important;
  }
}

.bg-dark {
  background-color: $dark !important;
}

.bg-darker {
  background-color: $darker !important;
}

.bg-teal {
  background: $teal !important;
}

.bg-nav-right {
  background: $bg-nav-right !important;
}

.bg-nav-right-dark {
  background: scale-color($bg-nav-right, $lightness: -3%) !important;
}

.bg-nav-right-darker {
  background: scale-color($bg-nav-right, $lightness: -5%) !important;
}

.bg-white {
  background-color: $white !important;
}

.bg-light {
  background-color: $light !important;
}

.bg-primary {
  background-color: $primary !important;
}

.bg-secondary {
  background-color: $secondary !important;
}

.bg-mystirling-blue {
  background-color: $mystirling-blue !important;
}

.bg-gradient {
  background: $bg-gradient !important;
  background-color: none !important;
}

.bg-gradient-light {
  background: $bg-gradient-light !important;
  background-color: none !important;
}

.bg-gradient-dark {
  background: $bg-gradient-dark !important;
  background-color: none !important;
}

.bg-gradient-active {
  background: $bg-gradient-active !important;
  background-color: none !important;
}

.bg-gradient-inactive {
  background: $bg-gradient-inactive !important;
  background-color: none !important;
}

.ms-background-container {
  height: 80vh;
  background: rgba(0, 0, 0, 0.30);
}

.bg-footer {
  background: $footer-area-bg !important;

  .text-white {
    color: $footer-color !important;
  }

  .vertical-sep {
    background-color: $footer-color !important;
  }

  .text-primary {
    color: $footer-heading-color !important;
  }
}

.bg-next-page {
  background: $next-page-background !important;
}

.bg-next-page-button {
  background-color: rgba(0, 0, 0, 0) !important;

  &::before {
    background-color: $next-page-button-background !important;
  }
}

.page {
  &.about {
    #wrapper-footer {
      .footer-form-wrapper {
        background: $white !important;
      }
    }
  }
}

.home {
  #wrapper-footer {
    .footer-form-wrapper {
      background: $dark !important;
    }
  }
}

.page-template-page-developments {
  #wrapper-footer {
    .footer-form-wrapper {
      background: $white !important;
    }
  }
}

.post-type-archive-apartment {
  #wrapper-footer {
    .footer-form-wrapper {
      background: $light !important;
    }
  }
}

.single-promotions {
  #wrapper-footer {
    .footer-form-wrapper {
      background: $light !important;
    }
  }
}

.single-insights {
  #wrapper-footer {
    .footer-form-wrapper {
      background: $light !important;
    }
  }
}

.page-template-page-insights {
  #wrapper-footer {
    .footer-form-wrapper {
      background: $light !important;
    }
  }
  .row-footer-contact-area {
    background: $light !important;
  }
}

.page-id-1939 {
  #wrapper-footer {
    .footer-form-wrapper {
      background: $light !important;
    }
  }
}

.apartment-template-default {
  &.single-apartment {
    .footer-form-wrapper.bg-dark {
      background: $light !important;
    }

    .row-footer-contact-area {
      padding-top: 0;
    }
  }
}

.page.apartment {
  #wrapper-footer {
    .footer-form-wrapper {
      background: $light !important;
    }
  }
}
