.card-img-top {
 width: 100%;
 height: auto;
 object-fit: cover;
 object-position: center;
}

.ourDevelopments {
 .card {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-end;
  justify-content: space-between;
  width: 100%;
  max-width: calc(100% - 2rem);
    @include media(">=lg") {
      max-width: calc(100% - 6.25rem);  
    }
  margin-left: auto;
  margin-right: auto;
  margin-top: -2.375rem;
  @include media(">=md") {
    margin-top: -5.375rem;
  }
  

  .card-header,
  .card-body,
  .card-footer {
   border: 0;
   font-size: 1rem;
   background: $white;
  }
 }
}

.promotionsContainer {
 .card-deck {
  >.card {
   @include media(">=lg") {
    margin-left: $gutters-gap;
    margin-right: $gutters-gap;
   }

   >.card-img-top {
    max-height: 80vh;

    @include media(">=lg") {
     max-height: 28rem;
    }

    object-fit: cover;
    object-position: center top;
   }

   >.card-body {
    @include media(">=lg") {
     padding: 44px 80px 0px 44px;
    }

    border-left: 1px solid $card-border-color;
    border-right: 1px solid $card-border-color;
   }

   .card-text {
    font-size: 1.125rem; 
   }

   .btn.btn-link {

    &:hover,
    &:active,
    &:focus {
     border-color: $primary-dark !important;
     color: $primary-dark !important;
     background: none !important;
    }
   }

   >.card-footer {
    @include media(">=lg") {
     padding: 0 44px;
    }

    border-left: 1px solid $card-border-color;
    border-right: 1px solid $card-border-color;
    border-bottom: 1px solid $card-border-color;
    border-top: none;
    background-color: transparent;

    a {
     padding: 24px 34px;
     font-size: .875rem;
     font-weight: 700;
    }

    .logo {
     max-height: 85px;
     height: 85px;
     object-fit: contain;
     object-position: center right;
    }
   }
  }
 }
}

.gmap-info-body {
 .card {
  .card-text {
   color: $black !important;
  }

  .card-link {
   margin-right: 6px;
   color: $dark;

   &:hover,
   &:active,
   &:focus {
    color: $darker;
    text-decoration: none;
   }

   .fa {
    margin-left: 6px;
   }
  }

  .gmap-info-title {
   font-size: 1.4rem;
   color: $dark !important;
  }
 }
}

#insightsSlider {
 .card {
  background: transparent;
  border: 0;
  height: 100% !important;
 }

 .slick-slide {
  display: inline-flex !important;
 }

 .slick-track {
  display: flex !important;
  flex-flow: row wrap !important;
 }

 img {
  height: 250px;

  @include media(">=lg") {
   height: 322px;
  }
 }

 .card-header,
 .card-body,
 .card-footer {
  width: 100%;
  position: relative;
  margin: auto;
  background: transparent;
  border: 0;
  font-size: 1rem;
  line-height: 1.1rem;
  @include media(">=lg") {
    width: 85%; 
  }

  a {
   font-size: $font-size-base;
   font-weight: 700;
   background-image: none;
   padding-bottom: 0;

   &:hover {
    background-image: none;
   }
  }

  .insights-title {
   line-height: 1;
   font-size:1rem;
   @include media(">=lg") {
     font-size: 1.6rem;  
   }
   
  }

  span {
   
   padding-bottom: .5rem;
   font-size: .875rem;
   font-weight: 500;
   letter-spacing: 2.4px;
  }
 }
}

.dp-5-hover {

 &:hover,
 &:active,
 &:focus {
  box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.1), 0 5px 8px 0 rgba(0, 0, 0, 0.01), 0 1px 14px 0 rgba(0, 0, 0, 0.11);
 }
}

.promotionsContainer .btn.btn-link:hover{
  border-color: #22bdba!important;
  color: #22bdba!important;
  background: 0 0!important;
}

#insightsSlider-archive{
  .card{
    border:0;
    background:transparent;
  }
} 
