.row-contact-development {
  border-top: 1px solid rgba($dark, 0.15);

  &:first-of-type {
   border-top: 0;
  }
  .logo {
    max-width: 14rem;
  }

  img { 
    max-height: 450px;
  }

  p {
    font-size: 1.125rem;
  }
}

.modal-dialog {
  max-width: 1142px;
  top: 10%;

  .modal-content {
    z-index: 2;
    padding: 0;
    @include media(">=lg") {
      padding: 30px 100px 60px 100px;
    }
    

    .modal-header {
      border-bottom: 0;
    }

    .gform_wrapper .gform_footer .btn {
      color: $secondary;
      background: transparent;
      border: 1px solid $secondary;
      float: right;
    }
  }
}
