// .deco {
//  &.deco-triangle-up {
//   width: 0;
//   height: 0;
//   border-left: 8px solid transparent;
//   border-right: 8px solid transparent;
//   border-bottom: 8px solid $white;
//   position: absolute;
//   margin-top: -7px;
//   margin-left: 20px;
//  }
// }
