.img-underlay-page {
  height: 28rem;
  object-fit: cover;
  object-position: center;
  width: 100%;
  max-width: 100%;
  overflow: hidden;
  @include media(">=lg") {
   height: 42.5rem;
  }
}

.development_row {
  height: auto;
  position: relative;
 
  @include media(">=lg") {
   height: 545px;
  }
 
  .development_row_outer {
   position: relative;
 
   @include media(">=lg") {
    position: absolute;
   }
  }
 
  .img-fit {
   object-fit: cover;
   height: 100%;
   width: 100%;
   font-family: 'object-fit: cover;';
  }
 
  .development_row_inner {
   z-index: 2;
   position: relative;
  }
 
  .development_col {
   padding-left: 1rem;
   padding-right: 1rem;
   position: relative;
 
   .development_content {
    width: 100%;
    margin-top: -2rem;
    background: $white;
    padding: 22px;
    font-size: 1rem;
    line-height: 1.2rem;
 
    @include media(">=lg") {
     width: 350px;
     padding: 44px;
     margin-top: 0;
     margin-bottom: 0;
    }
 
    .logo {
     max-height: 60px;
     max-width: 100%;
     width: 120px;
     object-fit: contain;
     object-position: bottom left;
     display: inline-block;
    }
   }
  }
 }

 .stripe {
  display: none;
 
  @include media(">=lg") {
   display: block;
   height: 100%;
   // position: absolute;
   background: $white;
   width: 224px;
   margin-left: 4.8rem;
   z-index: 1;
  }
 }

 .ourDevelopments {
  .development_content {
   width: 100%;
   margin-top: -2rem;
   background: $white;
   padding: 22px;
 
   @include media(">=lg") {
    width: 80%;
    padding: 44px;
    margin: -2rem auto 2rem auto;
   }
  }
 
  .card {
   .card-body {
    padding: 1.25rem 1.25rem 0;
 
    p {
     margin-bottom: 0;
     font-size: .875rem;
    }
   }
   .card-footer {
     p {
       margin-bottom: 0;
       font-size: .875rem;
      }
   }
  }
 
  .logo {
   max-height: 60px;
   max-width: 100%;
   width: 120px;
   object-fit: contain;
   object-position: bottom left;
   display: inline-block;
  }
 }

 .development_row_inner {
  @include media(">=lg") {
   transform: translateX(calc(-100% + 78px));
  }
 }
 
 #developmentsNavigation {
  width: 100%;
  display: flex;
  justify-content: center;
  @include media(">=lg") {
   width:auto;
   display:inline-flex;
  }

  .slick-prev, .slick-next{
    display: none !important;
    @include media(">=lg") {
     display: inline-block !important;   
    }
  }
  .slick-dots li button {
    background: #808386;
    border-radius: 100%;
    height: 20px;
    width: 20px;
    color:transparent;
    padding: 0;
    @include media(">=lg") {
      background: 0 0;
      display: block;
      height:auto;
      width:auto;
      color:$white;
    }
} 
.slick-dots li.slick-active button {
  background: 0 !important;
  border: 1px solid $black;
  @include media(">=lg") {
    background: 0 0;
    display: block;
    height:auto;
    width:auto;
    border:0;
    color:$black;
  }
}
}

#map {
  height: 600px;
  z-index: 1;
}
