#wrapper-footer {
  .gform_wrapper {
    .gform_footer {
      width: 100%;
    }
  }

  .footer-subscribe {
    .btn-form-submit {
      background: none !important;
      color: $white !important;
      box-shadow: none !important;
      border: 1px solid rgba($black, 0.24);
    }
  }

  .wrapper-subscribe {
    background: $secondary;
  }

  #footer-menu {
    >.nav-item {
      >a {
        color: $white;
      }
    }
  }

  .col-copyright {
    p {
      font-size: 80%;
    }

    p,
    span,
    small {
      line-height: 1;
      color: $text-muted;
    }

    a {
      transition: color .15s linear;
      color: $text-muted;

      &:hover,
      &:focus,
      &:active {
        color: $white;
      }
    }

    .vertial-sep {
      display: inline-flex;
      color: $text-muted;
      margin-left: .625rem;
      margin-right: .625rem;
      width: 1px;
      height: 1rem;
      background: $text-muted;
    }
  }
}

.footer-contact-form {
  z-index: 3;
  position: relative;

  h2 {
    line-height: 1;
  }
}

.footer-contact-border {
  width: 320px;
  height: 240px;
  background: $primary;
  position: absolute;
  top: 0;
  z-index: 1;
  margin-left: -1.625rem;
  margin-top: -1.625rem;
}

.footer-form-wrapper {
  position: relative;

  .img-underlay-footer {
    position: absolute;
    width: 100%;
    height: calc(100% - 240px - 5.375rem);
    max-height: calc(100% - 240px - 5.375rem);
    bottom: 0;
    object-fit: cover;
    object-position: center;
    z-index: 2;
  }
}

.row-footer-contact-area {
  background: #fefefe;
  padding: 2rem 0 2rem 0;

  @include media(">=lg") {
    padding: 7rem 0 6rem 0;
  }

  .btn-form-submit {
    color: $dark;
    border: 1px solid $dark !important;
    background: none;

    &:hover,
    &:active,
    &:focus {
      color: $primary;
      border: 1px solid $primary !important;
      background: none;
    }
  }
}

.gform_footer {
  width: 100%;
}
