.gform_wrapper {
 .gform_body {
  display: block;
  width: 100%;
  max-width: 100%;
  margin-bottom: 1rem;
 }

 .gform_footer {
  padding: 0 .5rem;

  img {
   display: none !important;
  }
 }

 .gfield_error .form-control {
  background-image: linear-gradient(to top, rgb(173, 20, 87) 1px, rgba(0, 0, 0, 0) 1px), linear-gradient(to top, rgb(173, 20, 87) 1px, rgba(0, 0, 0, 0) 2px);
 }

 .gfield_description.validation_message {
  color: rgb(173, 20, 87);
  font-size: 14px;
  margin-top: 8px;
 }

 .gform_validation_container,
 .validation_error,
 .screen-reader-text {
  display: none !important;
 }

 .gfield_label {
  color: $primary;
  text-transform: uppercase;
  margin: 0;
 }

 >form {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-end;
  margin-bottom: 0;
  flex-flow: column;
  width: 100%;
  max-width: 100%;
 }

 .gform_fields {
  display: flex;
  flex-flow: wrap;
  margin: 0;
  width: 100%;
  max-width: 100%;
  list-style: none;
  padding-inline-start: 0;
  align-items: flex-start;

  .gfield {
   list-style: none;
   margin: 0;
   //  display: flex;
  }
 }

 .charleft {
  display: none !important;
 }

 .ginput_container {
  width: 100%;
  margin-bottom: 1rem;
  border-bottom: 1px solid rgba($black, .24);

  .form-control {
   border: 0;
   border-radius: 0;

   &:focus,
   &:focus-within {
    box-shadow: none !important;
   }

   width: 100%;
   padding: .375rem 0;
  }
 }

 .ginput_container_textarea {
  margin-bottom: 0;
 }

 .form-control {
  font-size: 16px;
  color: rgba(255, 255, 255, 0.72);
  min-height: calc(1.5rem + #{$form-font-size} + 2px);
  height: auto !important;

  &::placeholder {
   font-family: $font-family-buttons;
   font-size: $form-font-size;
  }

  &.textarea,
  & textarea {
   min-height: 8.25rem;
   padding: 27px 0 5px 0;
  }

  &.gfield_select,
  & select {
   font-family: $font-family-buttons;
   font-size: $form-font-size;
   color: #839496;
   line-height: 1.5;
   margin-top: 1px;
   cursor: pointer;

   option {
    padding: 10px 0;
    font-size: 1.25rem;
    background: rgb(32, 42, 50);
    color: rgb(228, 228, 228);
    line-height: 1.5;
    border: 0 !important;
    text-transform: none;
    cursor: pointer;
   }
  }
 }

 .gform_footer {
  .btn {
   padding: 1.5rem 4rem;
   border: 1px solid transparent;
  
  }
 }
}

#wrapper-footer {
 .gform_wrapper {
  .footer-subscribe {
   flex-flow: column;

   @include media(">=lg") {
    flex-flow: row !important;
   }

   .ginput_container {
    .form-control {
     padding: 16px 0;
     background: none;
     color: $white;
     border-bottom: 2px solid rgba(191, 191, 191, 0.75);

     &::placeholder {
      letter-spacing: 0;
      font-weight: 400;
      color: $light;
      text-transform: none;
     }

     @include media(">=lg") {
      margin-bottom: 0;
     }
    }
   }

   .gform_body {
    flex-basis: 100%;
    margin-bottom: 0rem;

    @include media(">=lg") {
     flex-basis: calc(100% - 8.5rem);
    }
   }

   .gfield_description {
    &.validation_message {
     background: none;
     padding-bottom: 0;
     position: absolute;
     display: inline-block;
     width: auto;
      border: 0;
      padding: 0;
      height: auto !important;
      min-height: auto !important;
      background: none !important;
    }
   }

   .gform_footer {
    flex-basis: 100%;
    padding-left: .5rem;
    padding-right: .5rem;
    margin-bottom: 0rem;

    @include media(">=lg") {
     flex-basis: 8.5rem;
    }

    .btn {
     &.btn-form-submit {
      padding: 18px 12px;
      width: 8.5rem;
      max-width: 100%;
      margin-bottom: 0;
      font-size: $form-font-size;
      background: none;
      color: $white;
      border: 2px solid rgba(191, 191, 191, 0.75);
      font-weight: 700;
      font-style: initial;
      letter-spacing: 0;
      text-transform: uppercase;
      margin-top:2rem;
      margin-left:0.7rem;
      @include media(">=lg") {
        margin-top:0; 
        margin-left:0;
      }
      &:hover{
        color:$primary !important;
        border-color:$primary !important;
      }
     }
    }
   }

   .ginput_container {
    margin-bottom: 0;
   }
  }
 }
}

#sidebar-left-enquire {
 .gform_wrapper {
  .form-light {
   flex-flow: column;

   .ginput_container {
    .form-control {
     padding: 16px 0;
     background: none;
     color: $dark;
     border-bottom: 1px solid rgb(191, 191, 191);

     &::placeholder {
      letter-spacing: 0;
      font-weight: 300;
      color: $dark;
      font-size: .95rem !important;
      text-transform: uppercase;
     }

     @include media(">=lg") {
      margin-bottom: 0;
     }
    }
   }

   &.gfield_select,
   & select {
    line-height: 1.5;
    margin-top: 1px;
    letter-spacing: 0;
    font-weight: 300;
    color: #202a32;
    font-size: .95rem !important;
    text-transform: uppercase;
    cursor: pointer;

    option {
     padding: 10px 0;
     font-size: 1.25rem;
     background: rgb(228, 228, 228);
     color: $dark;
     line-height: 1.5;
     border: 0 !important;
     text-transform: none;
     cursor: pointer;
    }
   }

   .gform_body {
    flex-basis: 100%;
    margin-bottom: 0rem;

    @include media(">=lg") {
     flex-basis: calc(100% - 8.5rem);
    }
   }

   .gform_footer {
    flex-basis: 100%;
    padding-left: .5rem;
    padding-right: .5rem;
    margin-bottom: 0rem;

    @include media(">=lg") {
     flex-basis: 8.5rem;
    }

    .btn {
     &.btn-form-submit {
      padding: 18px 12px;
      width: 8.5rem;
      max-width: 100%;
      margin-bottom: 0;
      font-size: $form-font-size;
      background: none;
      color: $black;
      border: 1px solid #bfbfbf;
      font-weight: 700;
      font-style: italic;
      letter-spacing: 0;
      text-transform: uppercase;
     }
    }
   }

   .ginput_container {
    margin-bottom: 0;
   }
  }
 }
}

.form-enquire_wrapper  {
  input, textarea {
    color: $dark !important;
  }
}

#gform_wrapper_5 {
 .form-control.textarea {
  height: auto !important;
  min-height: 0 !important;
 }
}

@include media(">=lg") {
 #sidebar-right-enquire {

  #field_3_6,
  #field_6_6 {
   order: 99 !important;
   margin-top: -6rem;
  }
 }

 #field_3_6,
 #field_6_6 {
  order: 99 !important;
  margin-top: -4.125rem;
 }
}

#field_3_0,
#field_4_0,
#field_5_0,
#field_6_0 {
 order: 1;
}

#field_3_1,
#field_4_1,
#field_5_1,
#field_6_1 {
 order: 2;
}

#field_3_2,
#field_4_2,
#field_5_2,
#field_6_2 {
 order: 3;
}

#field_3_3,
#field_4_3,
#field_5_3,
#field_6_3 {
 order: 4;
}

#field_3_4,
#field_4_4,
#field_5_4,
#field_6_4 {
 order: 5;
}

#field_3_5,
#field_4_5,
#field_5_5,
#field_6_5 {
 order: 6;
}

#field_3_6,
#field_4_6,
#field_5_6,
#field_6_6 {
 order: 7;
}

#field_3_7,
#field_4_7,
#field_5_7,
#field_6_7 {
 order: 8;
}

#field_3_8,
#field_4_8,
#field_5_8,
#field_6_8 {
 order: 9;
}

#field_3_9,
#field_4_9,
#field_5_9,
#field_6_9 {
 order: 10;
}

#field_3_10,
#field_4_10,
#field_5_10,
#field_6_10 {
 order: 11;
}

#field_3_11,
#field_4_11,
#field_5_11,
#field_6_11 {
 order: 12;
}

#field_3_12,
#field_4_12,
#field_5_12,
#field_6_12 {
 order: 13;
}

#field_3_13,
#field_4_13,
#field_5_13,
#field_6_13 {
 order: 14;
}

#field_3_14,
#field_4_14,
#field_5_14,
#field_6_14 {
 order: 15;
}

#field_3_15,
#field_4_15,
#field_5_15,
#field_6_15 {
 order: 16;
}

#field_3_16,
#field_4_16,
#field_5_16,
#field_6_16 {
 order: 17;
}

#field_3_17,
#field_4_17,
#field_5_17,
#field_6_17 {
 order: 18;
}

#field_3_18,
#field_4_18,
#field_5_18,
#field_6_18 {
 order: 19;
}

#field_3_19,
#field_4_19,
#field_5_19,
#field_6_19 {
 order: 20;
}

#gform_submit_button_3 {
 margin-top: 2rem;
 font-weight: 500;

 @include media(">=lg") {
  margin-top: 0;
 }
}

#gform_wrapper_2.gform_wrapper .gfield_label {
 display: none;
}

#contactPageForm {
  .form-control {
    background: none !important;
  }
  .btn-form-submit {
    background: none;
    color: $dark;
    border: 1px solid $dark !important;
    &:hover, &:active, &:focus {
      color: $primary;
      border: 1px solid $primary !important;
    }
  }
  .gform_footer {
    width: 100%;
  }
  .btn-form-submit {
    @include media(">=lg") {
      margin-left: calc( 50% + 0.625rem );
    }
  }
}

.single-promotions .row-footer-contact-area .gform_wrapper .gform_fields {
  display: block;
}

.row-footer-contact-area .gform_wrapper .form-control{
  color:$secondary;
}
