.gm-style {
 .gm-style-iw-c {
  background-color: $dark !important;
  border-radius: 0;

  a,
  span,
  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
   color: $white;
  }
 }

 .gmap-info-title {
  font-size: 1rem;
  letter-spacing: 1px;
 }

 .card-body {
  padding: .625rem 1.25rem 1.25rem .3125rem;
 }

 .card-subtitle {
  font-size: .9375rem;
 }

 .btn-arrow-right {
  font-size: .75rem !important;
  padding-top: .5rem !important;
  padding-bottom: .5rem !important;
  display: inline-block !important;

  svg.arrow-right {
   margin: 0 0 0 6px !important;
   width: 32px;
  }
 }

 .from-price {
  font-size: 12px;
  top: -8px;
 }

 button.gm-ui-hover-effect {
  filter: invert(1);
  top: -3px !important;
  right: -3px !important;
 }

 .gm-style-iw-d {
  overflow: hidden !important;
 }

 .gm-style-iw-t {
  &::after {
   background-color: $dark !important;
  }
 }

 .transit-container {
  background-color: $dark !important;

  div {
   background-color: $dark !important;
  }
 }

 .transit-div-line-name {
  .renderable-component-text-box-white {
   background-color: $dark !important;
  }
 }
}

#homepageFilters {
  > .col-48:first-of-type {
    margin-bottom: -3rem;
    z-index: 2;
  }
  margin-bottom: 5rem;
}


  .gm-style {
     .gm-style-iw-c {
      position: absolute;
      box-sizing: border-box;
      top: -3rem;
      left: 2rem;
      transform: none;
      background-color: white;
      padding: 12px;
      box-shadow: 0 2px 7px 1px rgba(0,0,0,0.3);
    }

      .gm-style-iw-t::after {
      background: white;
      box-shadow: -2px 2px 2px 0 rgba(178,178,178,.4);
      content: "";
      height: 15px;
      left: 1.6rem;
      position: absolute;
      top: 1rem;
      transform: translate(0,0%) rotate(45deg);
      width: 15px;
    }
  }


