#insta-feed,
.row-insta-feed {
 .col-insta-feed {
  &:nth-child(1) {
   z-index: 1;
  }

  &:nth-child(2) {
   z-index: 2;
  }

  &:nth-child(3) {
   z-index: 3
  }

  &:nth-child(4) {
   z-index: 4
  }

  padding: 0 2px;

  >.insta-feed-link {
   display: block;
   width: 100%;
   background-position: center;
   background-size: cover;
   padding-top: 100%;
   max-height: 100%;
   position: relative;
   filter: grayscale(.06) brightness(.96) saturate(.98);
   will-change: filter;
   transition: filter .25s ease-out, transform .15s linear .1s;

   &:hover,
   &:active,
   &:focus {
    filter: grayscale(0) brightness(1) saturate(1.02);
   }
  }

  >.fa,
  >.insta-feed-icon {
   color: rgba($white, 0.85);
   bottom: 1rem;
   right: 1rem;
   position: absolute;
   font-size: 1.3125rem;
  }
 }
}

.instaConnect {
  font-size: 1rem;
  a {
   font-size: 2rem;
  }
 }
