.single-insights {
 
  p {
    font-size:normal;
    @include media(">=lg") {
      font-size: 1.1rem; 
    }
  }

  .entry-date {
    color: #a8a8a8;
  }
}

.post-type-archive-insights {
  .post-img {
    height: 200px;
    @include media(">=md") {
      height: 460px;  
    }
  }
  h3 {
    font-size: .975rem;
    @include media(">=md") {
      font-size: 1.825rem;
    }
  }
}

ul.apartment-details li {
  align-items: baseline;
  display: flex;
  flex-wrap: wrap;

  &::before {
    background-image: linear-gradient(to right, #333 10%, rgba(255, 255, 255, 0) 0%);
    background-position: bottom;
    background-size: 10px 2px;
    background-repeat: repeat-x;
    content: "";
    flex-grow: 1;
    height: 1em;
    order: 2;
    margin: 0 3px;
  }

  .value {
    order: 3;
  }
}



#insightsSlider-archive {
  img {
    max-height:200px;
    height: 200px;
    @include media(">=md") {
      max-height: 320px;
      height: 320px;
    }  
    }


  .slick-slide>div {
    display: block;
    width: 100%;
    height: auto;
    position: relative;
  }
}


#insightsNavigation {
  width: 100%;
  display: flex;
  justify-content: center;
  @include media(">=lg") {
   width:auto;
   display:inline-flex;
  }

  .slick-prev, .slick-next{
    display: none !important;
    @include media(">=lg") {
     display: inline-block !important;   
    }
  }
  .slick-dots li button {
    background: #808386;
    border-radius: 100%;
    height: 20px;
    width: 20px;
    color:transparent;
    padding: 0;
    @include media(">=lg") {
      background: 0 0;
      display: block;
      height:auto;
      width:auto;
      color:initial;
    }
} 
.slick-dots li.slick-active button {
  background: 0 !important;
  border: 1px solid $black;
  @include media(">=lg") {
    background: 0 0;
    display: block;
    height:auto;
    width:auto;
    border:0;
  }
}
}

#insightsArchiveNavigation {
  justify-content: center;
  width:auto;
  display:inline-flex;
  
  .slick-prev, .slick-next{
    display: inline-block !important;   
    }

  .slick-dots li button {
      background: 0 0;
      display: block;
      height:auto;
      width:auto;
      color:initial;
    }
     
.slick-dots li.slick-active button {
    background: 0 0;
    display: block;
    height:auto;
    width:auto;
    border:0;
  
}
}
