 // ***  START Global body/html overflow fix                               ***** 

.overflowscrolling {

 html {
  -webkit-overflow-scrolling: touch;
  -webkit-font-smoothing: antialiased;
  padding: 0;
  margin: 0;
  width: 100%;
  max-width: 100%;
  position: relative;
  display: block;
 }

 body {
  font-family: $font-family-sans-serif;
  font-size: $font-size-base;
  font-weight: $font-weight-normal;
  overflow-x: initial;
  overflow-y: scroll;
  line-height: 1.5;
  color: $body-color;
  background-color: $body-bg;
  -webkit-overflow-scrolling: touch;
  -webkit-font-smoothing: antialiased;
  padding: 0;
  margin: 0;
  width: 100%;
  max-width: 100%;
  position: relative;
  display: block;
 }

 #page {
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
  -webkit-font-smoothing: antialiased;
  width: 100%;
  max-width: 100%;
  padding: 0;
  margin: 0;
  display: block;
 }
}

// ***  END   Global body/html overflow fix                               ***** 
