*,
*::before,
*::after {
 box-sizing: border-box;
}

html {
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
 }

 body {
  font-family: $font-family-base;
  font-weight: $font-weight-base;
  line-height: $line-height-base;
  color: $body-color;
  text-align: left; // 3
  background-color: $body-bg; // 2
  margin: 0; // 1
}

a {
  color: $link-color;
  text-decoration: none;
  background-color: transparent; // Remove the gray background on active links in IE 10.

  &:hover, &:active, &:focus {
    color: $link-hover-color;
    text-decoration: none;
    background-color: transparent;
  }
}

a:not([href]):not([tabindex]) {
 color: inherit;
 text-decoration: none;
 outline: 0;
}

a:not([href]):not([tabindex]):hover,
a:not([href]):not([tabindex]):focus {
 color: inherit;
 text-decoration: none;
 outline: 0;
}

abbr[title],
abbr[data-original-title] {
 text-decoration: underline;
 text-decoration: underline dotted;
 cursor: help;
 border-bottom: 0;
 text-decoration-skip-ink: none;
 text-decoration: none;
}

address {
 margin-bottom: 1rem;
 font-style: normal;
 line-height: inherit;
}

article,
aside,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section {
 display: block;
}

b,
strong {
 font-weight: 700;
}

blockquote {
 margin: 0 0 1rem;
}

button,
[type=\"button\"],
[type=\"reset\"],
[type=\"submit\"] {
 -webkit-appearance: button;
}

button,
input {
 overflow: visible;
}

button,
input,
optgroup,
select,
textarea {
 font-family: inherit;
 font-size: 100%;
 line-height: 1.5;
 margin: 0;
 border-radius: 0;
}

button,
select {
 text-transform: none;
}

button:-moz-focusring,
[type=\"button\"]:-moz-focusring,
[type=\"reset\"]:-moz-focusring,
[type=\"submit\"]:-moz-focusring {
 outline: 1px dotted;
}

button::-moz-focus-inner,
[type=\"button\"]::-moz-focus-inner,
[type=\"reset\"]::-moz-focus-inner,
[type=\"submit\"]::-moz-focus-inner {
 border-style: none;
 padding: 0;
}

button:focus {
 outline: 1px dotted;
 outline: 5px auto -webkit-focus-ring-color;
}

button:not(:disabled),
[type=\"button\"]:not(:disabled),
[type=\"reset\"]:not(:disabled),
[type=\"submit\"]:not(:disabled) {
 cursor: pointer;
}

caption {
 padding-top: 0.75rem;
 padding-bottom: 0.75rem;
 color: rgba(237, 238, 242, 0.72);
 text-align: left;
 caption-side: bottom;
}

code,
kbd,
samp {
 font-family: monospace, monospace;
 font-size: 1em;
}

dd {
 margin-bottom: .5rem;
 margin-left: 0;
}

details {
 display: block;
}

dt {
 font-weight: 700;
}

fieldset {
 min-width: 0;
 padding: 0;
 margin: 0;
 border: 0;
}

fieldset {
 padding: 0.35em 0.75em 0.625em;
}

figure {
 margin: 0;
}

hr {
 box-sizing: content-box;
 height: 0;
 overflow: visible;
}

img {
 vertical-align: middle;
 border-style: none;
}

input,
button,
select,
optgroup,
textarea {
 margin: 0;
 font-family: inherit;
 font-size: inherit;
 line-height: inherit;
}

input[type=\"date\"],
input[type=\"time\"],
input[type=\"datetime-local\"],
input[type=\"month\"] {
 -webkit-appearance: listbox;
}

input[type=\"radio\"],
input[type=\"checkbox\"] {
 box-sizing: border-box;
 padding: 0;
}

label {
 display: inline-block;
 margin-bottom: 0.5rem;
}

legend {
 box-sizing: border-box;
 color: inherit;
 display: table;
 max-width: 100%;
 padding: 0;
 white-space: normal;
}

legend {
 display: block;
 width: 100%;
 max-width: 100%;
 padding: 0;
 margin-bottom: .5rem;
 font-size: 1.5rem;
 line-height: inherit;
 color: inherit;
 white-space: normal;
}

main {
 display: block;
}

ol ol,
ul ul,
ol ul,
ul ol {
 margin-bottom: 0;
}

ol,
ul,
dl {
 margin-top: 0;
 margin-bottom: 1rem;
}

output {
 display: inline-block;
}

p {
 margin-top: 0;
}

pre {
 font-family: monospace, monospace;
 font-size: 1em;
}

pre {
 margin-top: 0;
 overflow: auto;
}

pre,
code,
kbd,
samp {
 font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
 font-size: 1em;
}

progress {
 vertical-align: baseline;
}

progress {
 vertical-align: baseline;
}

select {
 word-wrap: normal;
}

small {
 font-size: 80%;
}

sub {
 bottom: -0.25em;
}

sub,
sup {
 font-size: 75%;
 line-height: 0;
 position: relative;
 vertical-align: baseline;
}


summary {
 display: list-item;
 cursor: pointer;
}

sup {
 top: -.5em;
}

svg {
 overflow: hidden;
 vertical-align: middle;
}

table {
 border-collapse: collapse;
}

template {
 display: none;
}

textarea {
 overflow: auto;
 resize: vertical;
}

th {
 text-align: inherit;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
 }
 
 [hidden] {
  display: none !important;
 }
 
 [tabindex=\"-1\"]:focus {
  outline: 0 !important;
 }
 
 [type=\"checkbox\"],
 [type=\"radio\"] {
  box-sizing: border-box;
  padding: 0;
 }
 
 [type=\"number\"]::-webkit-inner-spin-button,
 [type=\"number\"]::-webkit-outer-spin-button {
  height: auto;
  height: auto;
 }
 
 [type=\"search\"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
 }
 
 [type=\"search\"]::-webkit-search-decoration {
  -webkit-appearance: none;
  outline-offset: -2px;
  -webkit-appearance: none;
 }
 