.subpage-banner {
  height: auto;
  position: relative;
 
  @include media(">=lg") {
   height: 42.5rem;
  }
 
  .subpage-banner-inner {
   position:relative;
   margin-top: -4rem;
   @include media(">=lg") {
    position: absolute;
    bottom: -4.5rem;
   }
 
   .overlap-title {
    z-index: 1;
   } 
 
   .banner-content {
    margin-top: 0;
    padding: 2rem;
    @include media(">=lg") {
      margin-top: -2.625rem;
      padding: 5rem 4.875rem 2.625rem;        
    }
   }
  }
 }
 
 
 .page-title {
   padding: 2rem;
   line-height: 1;
   @include media(">=lg") {
    padding: 3rem 5rem 3rem 7.75rem;
   }
   
  }
 
  // //  .subpage-title{
  // //   padding: 0;
  // //   line-height: 1;
  // //   @include media(">=lg") {
  // //    padding: 3rem 5rem 3rem 7.75rem;
  // //   }
  // }
   
