#apartmentsSlider {
  .slick-slide {
    img {
      height: 776px;
      max-height: 82vh;
      width: 100%;
      max-width: 100%;
      object-fit: cover;
      object-position: center;
    }
  }
}