.fp-slider-col {
 height: 445px;

 @include media(">=lg") {
  height: 770px;
 }

 max-height: 80vh;
 background-repeat: no-repeat;
 background-position: center center;
 background-size: cover;

 &:before {
  background: linear-gradient(45deg, rgba(0, 0, 0, .85) 0%, rgba(255, 255, 255, 0) 80%); 
  @include media(">=md") {
    background: linear-gradient(45deg, rgba(0, 0, 0, .85) 0%, rgba(255, 255, 255, 0) 50%); 
  }
  
  content: '';
  display: block;
  height: 100%;
  opacity: 1;
  pointer-events: none;
  position: absolute;
  top: 0;
  transition: opacity 0.2s linear;
  width: 100%;
 }
 
 .container {
  position: relative;
 }
}

.slide-nav {
 font-weight: 400;
 padding-left: 2.625rem;
 padding-right: 2.625rem;
 margin: 0;
 cursor: pointer;
 text-transform: uppercase;
 font-size: $font-size-base;
 color: rgba($white, 0.72);
 letter-spacing: 2.4px;
 transition: color .1s linear, font-weight .05s linear .05s;
 display: inline-block;

 &:first-of-type {
  padding-left: 0;
 }

 &.active {
  font-weight: 700;
  color: $white;

  >.text-fw-normal {
   font-weight: 700;
   color: $white;
  }
 }

 >.text-fw-active {
  font-weight: 700;
  position: relative;
  visibility: hidden;
 }

 >.text-fw-normal {
  font-weight: 400;
  position: absolute;
  bottom: 0;
 }
}

.fp-text {
 width: 100%;

 @include media(">=lg") {
  width: 40%;
 }

 color: $white;

 h2 {
  color: $white;
  font-family: 'Playfair Display', serif;
 }

 .logo {
  max-width: 100%;
  width: 270px;
  max-height: 100px;
  object-fit: contain;
  object-position: bottom left;
  display: inline-block;
 }

 .slider-subheading {
  font-weight: 300;
 }

 .slider-heading{
   font-size:2rem;
   @include media(">=md") {
    font-size: 2.875rem;  
   }
 }

 .slider-button {
  color: $white;
  font-weight: 300;
  border: 1px solid white;
  padding: 1rem 2rem;
  border-radius: 0;
  letter-spacing: 0;
 }
}

.sale-sticker {
  position: absolute;
  right: 0;
  top: -8rem;
 }


 .h2, h2{
   font-size:2rem;
   @include media(">=md") {
    font-size:$h2-font-size; 
   }
 }


 .h5, h5{
  font-size:.9735rem;
  @include media(">=md") {
    font-size:$h5-font-size; 
   }
 }
