.slick-slider {
 position: relative;
 display: block;
 box-sizing: border-box;
 -webkit-touch-callout: none;
 -webkit-user-select: none;
 -khtml-user-select: none;
 -moz-user-select: none;
 -ms-user-select: none;
 user-select: none;
 -ms-touch-action: pan-y;
 touch-action: pan-y;
 -webkit-tap-highlight-color: transparent;
}

.slider-arrows-inline {
 .slick-slide {
  position: relative;
 }

 .slick-prev,
 .slick-next {

  position: absolute;
  background-image: none !important;
  color: transparent;
  font-size: 0px;
  background: rgba( $dark, 0.92 );
  transition: background-color .15s linear;
  height: 5.75rem;
  width: 1.75rem;

  &:hover {
    background: rgba( $dark, 1.0 );
  }

  &::before {
    transition: color .1s linear;
    display: inline-block;
    font-family: "FontAwesome";
    font-size: 1.3125rem;
    color: $white;
  }

  z-index: 15;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
 }

 .slick-prev {
  top: calc( 50% - 2.875rem );
  left: 0;

  &::before {
   content: "";
  }
 }

 .slick-next {
  top: calc( 50% - 2.875rem );
  left: calc( 100% - 1.75rem );

  &::before {
   content: "";
  }
 }
}

.slick-dotted {
 margin-bottom: 3.625rem;
}

.slick-list {
 position: relative;
 overflow: hidden;
 display: block;
 margin: 0;
 padding: 0;

 &:focus {
  outline: none;
 }

 &.dragging {
  cursor: pointer;
  cursor: hand;
 }
}

.slick-slider .slick-track,
.slick-slider .slick-list {
 transform: translate3d(0, 0, 0);
}

.slick-track {
 //  position: relative;
 //  left: 0;
 //  top: 0;
 display: flex;

 //  margin-left: auto;
 //  margin-right: auto;
 .slick-loading & {
  visibility: hidden;
 }
}

.slick-slide {
 >div {
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
 }

 img {
  display: block;
 }

 &.slick-loading img {
  display: none;
 }

 display: none;

 &.dragging img {
  pointer-events: none;
 }

 .slick-initialized & {
  display: block;
 }

 .slick-loading & {
  visibility: hidden;
 }

 .slick-vertical & {
  display: block;
  height: auto;
  border: 1px solid transparent;
 }
}

.slick-arrow.slick-hidden {
 display: none;
}

.slick-list {
 .slick-loading & {
  background: #fff slick-image-url("ajax-loader.gif") center center no-repeat;
 }
}

.slick-prev,
.slick-next {
 display: inline-block;
 height: 22px;
 width: 52px;
 cursor: pointer;
 background: none;
 padding: 0;
 border: 0;
 outline: 0;

 &:hover,
 &:focus {
  outline: 0;
 }
}

.slick-prev {
 background-image: url("../img/arrow-nav-left.svg");
 height: 22px;
 width: 52px;
 display: inline-block;
 background-repeat: no-repeat;
 font-size: 0;
 color: transparent;
}

.slick-next {
 background-image: url("../img/arrow-nav-right.svg");
 height: 22px;
 width: 52px;
 display: inline-block;
 background-repeat: no-repeat;
 font-size: 0;
 color: transparent;
}

.slick-dots {
 list-style: none;
 display: inline-block;
 text-align: left;
 padding: 0;
 margin: 0 1rem;

 li {
  position: relative;
  display: inline-block;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;

  button {
   background: transparent;
   display: block;
   border: 0;
   outline: 0;
   line-height: 1;
   font-size: 1rem;
   color: $light;
   transition: color .1s linear;
   cursor: pointer;
   font-family: $font-family-roboto;
   font-weight: 500;
  }

  &.slick-active {
   button {
    background: transparent;
    color: $black;
   }
  }
 }
}

.bg-light {
 .slick-dots {
  li {
   button {
    color: #bebebe;
   }

   &.slick-active {
    button {
     background: transparent;
     color: $black;
    }
   }
  }
 }
}

.bg-info {
 .slick-dots {
  li {
   button {
    color: $white;
   }

   &.slick-active {
    button {
     background: transparent;
     color: $black;
    }
   }
  }
 }
}

.slick-navigation {
 display: inline-flex;

 .slick-next {
  order: 3;
 }
}

.slick-dots li button:hover{
  color:$primary;
}
