
$black: #000 !default;
$white: #fff !default;

$primary-input: #24c7c4 !default;
$primary: $primary-input !default;
$primary-light: scale-color($primary, $lightness: 5%) !default;
$primary-lighter: scale-color($primary, $lightness: 10%) !default;
$primary-dark: scale-color($primary, $lightness: -5%) !default;
$primary-darker: scale-color($primary, $lightness: -10%) !default;
$primary-active: rgba($primary, 0.92) !default;
$primary-inactive: rgba($primary, 0.72) !default;

$secondary-input: #0e1a3a !default;
$secondary: $secondary-input !default;
$secondary-light: scale-color($secondary, $lightness: 5%) !default;
$secondary-lighter: scale-color($secondary, $lightness: 10%) !default;
$secondary-dark: scale-color($secondary, $lightness: -5%) !default;
$secondary-darker: scale-color($secondary, $lightness: -10%) !default;
$secondary-active: rgba($secondary, 0.92) !default;
$secondary-inactive: rgba($secondary, 0.72) !default;

$bg-nav-right-input: #0e1a3a !default;
$bg-nav-right: $bg-nav-right-input !default;
$bg-nav-right-enquire-submit: #00c6c3 !default;

$nav-right-button: #24c7c4 !default;
$bg-nav-right: #0e1a3a !default;
$nav-right-menu-item: #fafafa !default;
$nav-right-menu-item-hover: #00c6c3 !default;

$nav-right-button-light: scale-color($nav-right-button, $lightness: 12%) !default;
$nav-right-button-dark: scale-color($nav-right-button, $lightness: -5%) !default;
$nav-right-button-darker: scale-color($nav-right-button, $lightness: -10%) !default;

$bg-gradient-nav: linear-gradient(-162deg, $nav-right-button-light 35%, $nav-right-button 60%, $nav-right-button-dark 80%, $nav-right-button-darker 100%) !default;
$footer-area-bg: #0e1a3a !default;
$next-page-background: #0e1a3a !default;
$next-page-button-text: #fff9f9 !default;
$next-page-button-text-hover: #00c6c3 !default;
$next-page-button-background: #24c7c4 !default;

$light-input: #eeeff3 !default;
$light: $light-input !default;

$dark-input: #0e1a3a !default;
$dark: $dark-input !default;

$darker-input: scale-color($dark, $lightness: -10%) !default;
$darker: $darker-input !default;

$text-muted: rgba($light, .72) !default;

$mystirling-blue-input: #24c7c4 !default;
$mystirling-blue: $mystirling-blue-input !default;
$mystirling-light: scale-color($mystirling-blue, $lightness: 5%) !default;
$mystirling-blue-dark: scale-color($mystirling-blue, $lightness: -5%) !default;
$mystirling-blue-darker: scale-color($mystirling-blue, $lightness: -10%) !default;

$font-family-sans-serif: "Roboto", Helvetica, Arial, sans-serif !default;
$font-family-heading : "Roboto", Helvetica, Arial, sans-serif !default;

$text-black-color:  $dark !default;
$text-body-color:   $dark !default;
$text-muted-color:  rgba($dark, 0.72) !default;

$body-bg: $white !default;
$body-color: $dark !default;
$footer-color: $white !default;
$footer-heading-color: $primary !default;
$gmap-color: $dark !default;
$gmap-heading-color: $primary !default;

$bg-texture-one: url("") !default;
$bg-texture-two: url("") !default;

$bg-login-logo: url("https://mystirling.comhttps://mystirling.com/wp-content/uploads/logo-stirling.svg") !default;

$font-size-base: rem !default;
$font-weight-normal:  !default;

$headings-font-weight:  !default;
$headings-line-height:  !default;
$body-line-height:  !default;

$h1-font-size: rem !default;
$h2-font-size: rem !default;
$h3-font-size: rem !default;
