html {
  -webkit-overflow-scrolling: touch;
  -webkit-font-smoothing: antialiased;
  padding: 0;
  margin: 0;
  width: 100%;
  max-width: 100%;
  position: relative;
  display: block;
  overflow-x: hidden;
}

body {
  font-family: $font-family-sans-serif;
  font-size: $font-size-base;
  font-weight: $font-weight-normal;
  overflow-x: hidden;
  overflow-y: initial;
  //  line-height: $body-line-height;
  color: $body-color;
  background-color: $body-bg;
  -webkit-overflow-scrolling: touch;
  padding: 0;
  margin: 0;
  width: 100%;
  max-width: 100%;
  position: relative;
  display: block;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  letter-spacing: 0.03125em;
  text-decoration: inherit;
  text-transform: inherit;
}

#page {
  width: 100%;
  max-width: 100%;
  padding: 0;
  margin: 0;
  display: block;
  padding-top: 0;
  -webkit-overflow-scrolling: touch;

  @include media(">=md") {
    padding-top: 0;
  }
}

.home #apartmentComponent {
  display: flex;
}

select.form-control {
  -webkit-appearance: none !important;
}

// START  Anti-tracking pixel display bug
img[src*=".gif"]:not([src*="mystirling.com"]):not([src*="lcprojects.com.au"]) {
  display: none !important;
}

// END  Anti-tracking pixel display bug
.text-black {
  color: $black !important;
}

#navMain>.row>.col-auto {
  padding: 0 1px 0 0 !important;
  margin-right: -2px;
}

pre {
  display: block;
  width: 100%;
  height: 50vh;
  color: $white;
  white-space: pre-wrap;
  background: $dark;
}

.text-no-upper {
  text-transform: none !important;
}

.choco-title {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.sep-content {
  display: block;
  background: $text-muted;
  height: 1px;
  width: 14rem;
  max-width: calc(100% - 2rem);
}

body::-webkit-scrollbar-track {
  //  box-shadow: $scrollbar-track-shadow;
  background-color: scale-color($scrollbar-track-bg, $lightness: -7%);
}

body::-webkit-scrollbar {
  width: $scrollbar-width;
  background-color: $scrollbar-bg;
}

body::-webkit-scrollbar-thumb {
  background-color: $scrollbar-thumb-color;
}

a {
  text-decoration: none;
  transition: color 0.15s linear;

  &:hover,
  &:focus,
  &:active {
    text-decoration: none;
  }
}

*::selection {
  background: rgba($secondary-dark, 0.75);
  color: $white;
}

* {
  outline: 0;
}

.justify-content-evenly {
  justify-content: space-evenly !important;
}

.home .row.row-apartment-search {
  flex-flow: row !important;
}

.fa {
  font-size: 1.3125rem;
  transition: color .15s linear;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h4,
.h5,
h6,
.h6 {
  margin-top: 0;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  letter-spacing: 0.03125em;
  text-decoration: inherit;
  text-transform: inherit;
}

.z-10 {
  z-index: 10 !important;
}

.z-11 {
  z-index: 11 !important;
}

.z-12 {
  z-index: 12 !important;
}

.z-1200 {
  z-index: 1200 !important;
}

.z-1300 {
  z-index: 1300 !important;
}

.z-1400 {
  z-index: 1400 !important;
}

.z-1500 {
  z-index: 1500 !important;
}

.z-1503 {
  z-index: 1503 !important;
}

.z-1504 {
  z-index: 1503 !important;
}

iframe,
iframe.iframe-svg-map {
  background-color: transparent;
  border: none;
  overflow: hidden;
  padding: 0;
  margin: 0;
  width: 100%;
  max-width: 100%;
  opacity: 1;
  height: auto;
  transition: opacity .25s ease-out .125s, height .125s ease-out;
  will-change: opacity, height;
}

.img-fluid {
  max-width: 100%;
  object-fit: cover;
  object-position: center;
}

.maxheight-92 {
  max-height: 92vh;
}

.text-drop-shadow {
  text-shadow: $text-drop-shadow;
}

.mh-86 {
  min-height: 86vh;
  height: auto;
}

.mh-80 {
  min-height: 80vh;
  height: auto;
}

.mh-66 {
  min-height: 66vh;
  height: auto;

  &.fw-image-block {
    &.fw-image-block-jarallax {
      >div {
        height: 768px;
        max-height: 100vh;
        min-height: 66vh;
      }
    }
  }
}

.maxheight-86 {
  max-height: 86vh;
  height: auto;
  overflow: hidden;
}

.maxheight-80 {
  max-height: 80vh;
  height: auto;
  overflow: hidden;
}

.mw-lg-20 {
  @include media(">=lg") {
    max-width: 20rem;
    width: 100%;
  }
}

.mw-lg-25 {
  @include media(">=lg") {
    max-width: 20rem;
    width: 100%;
  }
}

.mw-lg-27 {
  @include media(">=lg") {
    max-width: 27rem;
    width: 100%;
  }
}

.mw-lg-30 {
  @include media(">=lg") {
    max-width: 30rem;
    width: 100%;
  }
}

.mw-lg-38 {
  @include media(">=lg") {
    max-width: 38rem;
    width: 100%;
  }
}

.mw-40 {
  max-width: 40rem !important;
  width: 100%;
}

.mw-56 {
  @include media(">=lg") {
    max-width: 56.25rem;
    width: 100%;
  }
}

.mw-50 {
  @include media(">=lg") {
    max-width: 50rem;
    width: 100%;
  }
}

.mw-lg-50 {
  @include media(">=lg") {
    max-width: 50rem;
    width: 100%;
  }
}

.mw-28 {
  @include media(">=lg") {
    max-width: 28rem;
    width: 100%;
  }
}

.fw-100 {
  font-weight: 100 !important;
}

.fw-200 {
  font-weight: 200 !important;
}

.fw-300 {
  font-weight: 300 !important;
}

.fw-400 {
  font-weight: 400 !important;
}

.fw-500 {
  font-weight: 500 !important;
}

.fw-600 {
  font-weight: 600 !important;
}

.fw-700 {
  font-weight: 700 !important;
}

.fw-normal {
  font-weight: 400 !important;
}

.mb-6 {
  margin-bottom: 4rem !important;
}

.mb-7 {
  margin-bottom: 5rem !important;
}

.mt-6 {
  margin-top: 4rem !important;
}

.mt-7,
.mt-lg-7 {
  margin-top: 5rem !important;
}

.mt-8 {
  margin-top: 8.25rem !important;
}

.mt-neg-8 {
  margin-top: -8.25rem !important;
}

.mt-neg-7 {
  margin-top: -5rem !important;
}

.mt-neg-6 {
  margin-top: -4rem !important;
}

.mt-neg-5 {
  margin-top: -3rem !important;
}

.lh-1 {
  line-height: 1 !important;
}

.lh-1 {
  line-height: 1 !important;
}

.lh-11 {
  line-height: 1.1 !important;
}

.lh-12 {
  line-height: 1.2 !important;
}

.lh-13 {
  line-height: 1.3 !important;
}

.lh-14 {
  line-height: 1.4 !important;
}

.lh-15 {
  line-height: 1.5 !important;
}

.lh-16 {
  line-height: 1.6 !important;
}

.lh-17 {
  line-height: 1.7 !important;
}

.lh-18 {
  line-height: 1.8 !important;
}

.lh-19 {
  line-height: 1.9 !important;
}

.lh-20 {
  line-height: 2 !important;
}

.ls-0 {
  letter-spacing: 0px !important;
}

.ls-05 {
  letter-spacing: 0.5px !important;
}

.ls-1 {
  letter-spacing: 1px !important;
}

.ls-15 {
  letter-spacing: 1.5px !important;
}

.ls-2 {
  letter-spacing: 2px !important;
}

.ls-25 {
  letter-spacing: 2.4px !important;
}

.text-description {
  line-height: 1.5;
  font-size: .875rem;
  margin-bottom: .625rem;
}

.text-btn {
  letter-spacing: 2.4px;
  font-weight: 400;
  text-transform: uppercase;
  font-family: $font-family-buttons;
}

.footer-nav-project {
  .nav-item {
    letter-spacing: 1.8px;
    font-weight: 400;
    text-transform: uppercase;
    font-family: $font-family-buttons;
    font-size: 0.8125rem;
    margin-bottom: .5rem;

    &:hover,
    &:focus,
    &:active {
      >a {
        color: rgba($white, 1.0);
      }
    }

    >a {
      color: rgba($white, .75);
    }
  }
}

.fw-bold {
  font-weight: 700 !important;
}

.mw-content {
  width: 32rem;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
}

.navbar-toggler-text {
  text-transform: uppercase;
  text-decoration: none !important;
  font-size: 1rem;
  cursor: pointer;
  color: #575458;
  padding-top: 0;
  padding-bottom: 0.3rem;
  width: 52px;
  text-align: center;
  margin: 0 auto;
  transition: opacity .15s linear;
  opacity: 0;

  @include media(">=md") {
    opacity: 1;
  }
}

.justify-self-center {
  justify-self: center;
  margin-left: auto;
  margin-right: auto;
}

.display-1,
.display-2,
.display-3,
.display-4 {
  font-weight: 700;
}

.disclaimer-text {
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 1.25;
}

.b-0 {
  border: 0 !important;
}

.bs-0 {
  box-shadow: none !important;
}

#content,
#wrapper-footer {

  .entry-content,
  .content-area,
  .row-footer-nav-area {

    .h1,
    h1 {
      letter-spacing: -2px;
      margin-top: 0;
    }

    .h2,
    h2 {
      letter-spacing: -1px;
      margin-top: 0;
    }

    .h3,
    h3 {
      letter-spacing: 0.25px;
      margin-top: 0;
    }

    .h4,
    h4 {
      letter-spacing: 0.8px;
      line-height: 1.5;
      margin-bottom: 1.25rem;
      margin-top: 0;
    }

    h5,
    .h5 {
      font-family: $font-family-sans-serif;
      font-weight: 600;
      letter-spacing: 1px;
      line-height: 1.5;
      margin-top: 0;
    }

    .h6,
    h6 {
      font-family: $font-family-sans-serif;
      font-weight: 500;
      letter-spacing: 1.325px;
      text-transform: uppercase;
      line-height: 1.5;
      margin-top: 0;
    }
  }
}

div[data-nav-open="mask"] {
  z-index: 21 !important;
}

#compass-deco {
  @include media("<md") {
    position: absolute;
    top: 0;
    justify-content: flex-end !important;
  }
}

.homepage-content-wrapper {
  display: block;
  width: 100%;
  max-width: 100%;

  @include media(">=lg") {
    padding-left: 5.5rem;
  }
}

.overlay-wrapper {
  position: relative;
  overflow: hidden;

  >.overlay {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: calc(100% - .5rem);
    background: rgba(0, 0, 0, 0.52);
    color: #fff;
    position: absolute;
    transform: translateY(-6.375rem);
    padding: 1.25rem;
    max-width: calc(100% - .5rem);
    height: 6.375rem;
    top: 100%;
    // transition: transform .25s ease-out;
    transition: opacity 0.25s ease-out;
    will-change: opacity;
    opacity: 0;
  }

  &:hover,
  &:focus,
  &:active {
    .overlay {
      //  transform: translateY(-6.375rem);
      opacity: 1;
    }
  }

  .overlay-text {
    font-size: 1rem;
    color: $white;
    margin: 0;
  }

  .overlay-img {
    width: auto;
    max-height: 3.875rem;
    height: auto;
    max-width: 100%;
    bottom: 1.25rem;
    right: 1.875rem;
    position: absolute;
  }
}

.card-deck {
  .btn-outline-dark {

    &:hover,
    &:focus,
    &:active {
      color: $white !important;
      border-color: $white !important;
    }
  }

  .btn-outline-white {

    &:hover,
    &:focus,
    &:active {
      color: $primary !important;
      border-color: $primary !important;
    }
  }
}

.minw-28 {
  @include media(">=xl") {
    min-width: 28rem;
  }
}

#content {
  min-height: calc(100vh - 400px);
}

.img-stretch {
  width: 100%;
  height: 100%;
  display: block;
  margin: 0;
  padding: 0;
  object-fit: cover;
  object-position: center;
}

.page-id-1939 #archive-wrapper #apartmentsRow .top-col {
  height: auto !important;
  max-height: 100% !important;
}

.page-id-1939 #archive-wrapper #apartmentsRow .col-48 {
  height: auto !important;
  max-height: 100% !important;
}

.page-id-1939 #loadedSearchApp .row-apartment-search {
  position: relative;
}

.home #apartmentsRow {
  height: auto !important;
  position: relative !important;
  display: block !important;
  width: 100% !important;
}

.home #apartmentsRow {
  height: auto !important;
  position: relative !important;
  display: block !important;
  width: 100% !important;
}

.home #apartmentsRow .col-48 {
  height: auto !important;
  max-height: 100% !important;
}

#apartmentsRow {
  height: auto !important;
  max-height: 100% !important;
}

.page-id-1939 #archive-wrapper #apartmentsRow {
  height: auto !important;
  position: relative !important;
  display: block;
  width: 100%;
}

.wrapper.wrapper-apartments-listings.main-content {
  background: #edeef2 !important;
}

.page-id-1939 #archive-wrapper #loadedSearchApp #apartmentFilters>.row>.col-48 {
  height: 162px;
  max-height: 162px;
}
