@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/materialicons/v48/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2) format('woff2');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}

$color-red-error: rgb(185, 74, 72) !default;
$color-green-success: #28a745;
$color-grey-arrow: rgba(204, 204, 204, 0.2) !default;

$width-default: 220px !default; // 3 960px-grid columns

$zindex-select-dropdown: 1060 !default; // must be higher than a modal background (1050)

$input-color-placeholder: #999 !default;
$input-alt-color-placeholder: rgba(255, 255, 255, 0.5) !default;

$input-padding-y-sm: .25rem !default;
$input-padding-x-sm: .5rem !default;

$input-padding-y-lg: 0.5rem !default;
$input-padding-x-lg: 1rem !default;

// stylelint-disable
$white:    #fff !default;
$gray-100: #FDF6E3 !default;
$gray-200: #EEE8D5 !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #839496 !default;
$gray-700: #495057 !default;
$gray-800: #073642 !default;
$gray-900: #002B36 !default;
$black:    #000 !default;

$breakpoints: (
  'xs': 0,
  'sm': 576px,
  'md': 667px,
  'lg': 992px,
  'xl': 1480px
) !default;

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 667px,
  lg: 992px,
  xl: 1480px
) !default;

$container-max-widths: (
  sm: 540px,
  md: 619px,
  lg: 960px,
  xl: 1380px
) !default;

.container {
  &.container-inner {
    max-width: 1140px;
  }
}

$primary:          #24c7c4 !default;
$secondary:          #0e1a3a !default;
$blue:            #B58900 !default;
$indigo:          #6610f2 !default;
$purple:          #6f42c1 !default;
$pink:            #ee2f55 !default;
$red:             #D33682 !default;
$orange:          #fd7e14 !default;
$yellow:          #CB4B16 !default;
$green:           #2AA198 !default;
$teal:            #06e1c4 !default;
$cyan:            #268BD2 !default;

$enable-caret:                                false !default;
$enable-rounded:                              false !default;
$enable-shadows:                              false !default;
$enable-gradients:                            false !default;
$enable-transitions:                          true !default;
$enable-prefers-reduced-motion-media-query:   true !default;
$enable-hover-media-query:                    false !default; // Deprecated, no longer affects any compiled CSS
$enable-grid-classes:                         true !default;
$enable-pointer-cursor-for-buttons:           true !default;
$enable-print-styles:                         true !default;
$enable-responsive-font-sizes:                false !default;
$enable-validation-icons:                     true !default;
$enable-deprecation-messages:                 true !default;

$black: #000 !default;
$white: #fff !default;

$primary-input: #24c7c4 !default;
$primary: $primary-input !default;
$primary-light: scale-color($primary, $lightness: 5%) !default;
$primary-lighter: scale-color($primary, $lightness: 10%) !default;
$primary-dark: scale-color($primary, $lightness: -5%) !default;
$primary-darker: scale-color($primary, $lightness: -10%) !default;
$primary-active: rgba($primary, 0.92) !default;
$primary-inactive: rgba($primary, 0.72) !default;

$secondary-input: #0e1a3a !default;
$secondary: $secondary-input !default;
$secondary-light: scale-color($secondary, $lightness: 5%) !default;
$secondary-lighter: scale-color($secondary, $lightness: 10%) !default;
$secondary-dark: scale-color($secondary, $lightness: -5%) !default;
$secondary-darker: scale-color($secondary, $lightness: -10%) !default;
$secondary-active: rgba($secondary, 0.92) !default;
$secondary-inactive: rgba($secondary, 0.72) !default;

$bg-nav-right-input: #0e1a3a !default;
$bg-nav-right: $bg-nav-right-input !default;
$bg-nav-right-enquire-submit: #00c6c3 !default;

$nav-right-button: #24c7c4 !default;
$bg-nav-right: #0e1a3a !default;
$nav-right-menu-item: #fafafa !default;
$nav-right-menu-item-hover: #00c6c3 !default;

$nav-right-button-light: scale-color($nav-right-button, $lightness: 12%) !default;
$nav-right-button-dark: scale-color($nav-right-button, $lightness: -5%) !default;
$nav-right-button-darker: scale-color($nav-right-button, $lightness: -10%) !default;

$bg-gradient-nav: linear-gradient(-162deg, $nav-right-button-light 35%, $nav-right-button 60%, $nav-right-button-dark 80%, $nav-right-button-darker 100%) !default;
$footer-area-bg: #0e1a3a !default;
$next-page-background: #0e1a3a !default;
$next-page-button-text: #fff9f9 !default;
$next-page-button-text-hover: #00c6c3 !default;
$next-page-button-background: #24c7c4 !default;

$light-input: #edeef2 !default;
$light: #edeef2 !default;

$dark-input: #0e1a3a !default;
$dark: $dark-input !default;

$darker-input: scale-color($dark, $lightness: -10%) !default;
$darker: $darker-input !default;

$text-muted: rgba($light, .72) !default;

$mystirling-blue-input: #24c7c4 !default;
$mystirling-blue: $mystirling-blue-input !default;
$mystirling-light: scale-color($mystirling-blue, $lightness: 5%) !default;
$mystirling-blue-dark: scale-color($mystirling-blue, $lightness: -5%) !default;
$mystirling-blue-darker: scale-color($mystirling-blue, $lightness: -10%) !default;

$font-family-buttons: -apple-system, BlinkMacSystemFont, "Roboto", "Segoe UI", Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif !default;
$font-family-sans-serif: "Roboto", Helvetica, Arial, sans-serif !default;
$font-family-heading : "Roboto", Helvetica, Arial, sans-serif !default;

$text-black-color:  $dark !default;
$text-body-color:   $dark !default;
$text-muted-color:  rgba($dark, 0.72) !default;

$body-bg: $white !default;
$body-color: $dark !default;
$footer-color: $white !default;
$footer-heading-color: $primary !default;
$gmap-color: $dark !default;
$gmap-heading-color: $primary !default;
$btn-focus-width: 1px !default;

$card-border-color: rgba(#a8a8a8, .14) !default;

$scrollbar-width: 10px !default;
$scrollbar-bg: $dark !default;
$scrollbar-thumb-color: #1e9fa1 !default;
$scrollbar-track-bg: $darker !default;
$scrollbar-track-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3) !default;

$success:           $mystirling-blue !default;
$info:              #dddedf !default;
$warning:           $orange !default;
$danger:            $yellow !default;

$theme-colors: () !default;
$theme-colors: map-merge((
  primary: $primary,
  success: $teal,
  info: #dddedf,
  warning: $orange,
  danger: $yellow,
  light: #edeef2,
  dark: $dark
), $theme-colors) !default;

$body-bg:         $white !default;
$body-color:      $dark !default;
$text-drop-shadow: 0 2px 4px rgba(0, 0, 0, 0.08), 0 3px 2px rgba(0, 0, 0, 0.09), 0 6px 3px rgba(0, 0, 0, 0.02) !default;

$link-color:        $body-color !default;
$link-hover-color:  $secondary-light !default;
$link-decoration: none !default;
$link-hover-decoration: none !default;

$form-input-bg: linear-gradient(to top, rgba($light, .46) 1px, rgba($light, 0) 1px), linear-gradient(to top, rgba($light, .46) 1px, rgba($light, 0) 1px) !default;
$form-input-bg-card: linear-gradient(to top, rgba(#f7f7f7, .46) 1px, rgba($light, 0) 1px), linear-gradient(to top, rgba(#f7f7f7, .46) 1px, rgba(#f7f7f7, 0) 1px) !default;
$form-input-bg-active: linear-gradient(to top, rgba($secondary, .72) 1px, rgba($secondary ,0) 1px), linear-gradient(to top,  rgba($secondary, .72) 1px, rgba($secondary, 0) 1px) !default;
$form-input-bg-body: linear-gradient(to top, rgba($body-color, .72) 1px, rgba($body-color ,0) 1px), linear-gradient(to top,  rgba($body-color, .72) 1px, rgba($body-color, 0) 1px) !default;
$form-input-bg-footer: linear-gradient(to top, rgba($footer-color, .72) 1px, rgba($footer-color ,0) 1px), linear-gradient(to top,  rgba($footer-color, .72) 1px, rgba($footer-color, 0) 1px) !default;
$form-input-bg-footer-active: linear-gradient(to top, rgba($footer-heading-color, .72) 1px, rgba($footer-heading-color ,0) 1px), linear-gradient(to top,  rgba($footer-heading-color, .72) 1px, rgba($footer-heading-color, 0) 1px) !default;
$form-input-bg-primary: linear-gradient(to top,  rgba($primary, .72) 1px, rgba($primary ,0) 1px), linear-gradient(to top, rgba($primary, .72) 1px, rgba($primary, 0) 1px) !default;
$form-input-bg-secondary: linear-gradient(to top,  rgba($secondary, .72) 1px, rgba($secondary ,0) 1px), linear-gradient(to top, rgba($secondary, .72) 1px, rgba($secondary, 0) 1px) !default;
$form-input-bg-submit: linear-gradient(to top, rgba($bg-nav-right-enquire-submit, .72) 1px, rgba($bg-nav-right-enquire-submit ,0) 1px), linear-gradient(to top,  rgba($bg-nav-right-enquire-submit, .72) 1px, rgba($bg-nav-right-enquire-submit, 0) 1px) !default;

$form-input-bg-light: linear-gradient(to top, rgba($light, .72) 1px, rgba($light ,0) 1px), linear-gradient(to top,  rgba($light, .72) 1px, rgba($light, 0) 1px) !default;
$form-input-bg-white: linear-gradient(to top, rgba($white, .72) 1px, rgba($white ,0) 1px), linear-gradient(to top,  rgba($white, .72) 1px, rgba($white, 0) 1px) !default;
$form-input-bg-dark: linear-gradient(to top, rgba($dark, .72) 1px, rgba($dark ,0) 1px), linear-gradient(to top,  rgba($dark, .72) 1px, rgba($dark, 0) 1px) !default;
$form-input-bg-black: linear-gradient(to top, rgba($black, .72) 1px, rgba($black ,0) 1px), linear-gradient(to top,  rgba($black, .72) 1px, rgba($black, 0) 1px) !default;

$form-font-size: .9375rem !default;
$input-focus-box-shadow:                none !default;
$input-focus-border-color:              transparent !default;

$grid-columns:        48 !default;
$grid-gutter-width:   0 !default;

$padding-gap: 4rem !default;
$padding-gap-mobile: 2rem !default;
$gutters-gap: .625rem !default;
$gutters-gap-negative: -0.625rem !default;
$gutters-gap-mobile: #{$gutters-gap * 2} !default;
$gutters-gap-mobile-negative: #{$gutters-gap-negative * 2} !default;

$font-family-roboto: -apple-system, BlinkMacSystemFont, "Roboto", 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif !default;
$font-family-montreal : "Montreal", Helvetica, Arial, sans-serif !default;
$font-family-buttons:  "Roboto", -apple-system, BlinkMacSystemFont, "Roboto", 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif !default;
$font-family-sans-serif: "Roboto", Helvetica, Arial, sans-serif !default;
$font-family-heading : "Roboto", Helvetica, Arial, sans-serif !default;
$font-family-base: $font-family-sans-serif;
$font-size-base: .9375rem !default;
$font-weight-normal: 400 !default;
$font-weight-base: 400 !default;
$line-height-base: 1.5 !default;

$headings-font-weight: 500 !default;
$headings-font-family: $font-family-heading;
$headings-color: $secondary !default;
$headings-line-height: 1.2 !default;

$h1-font-size: 3.5rem   !default;             // Hero Banner H1
$h2-font-size: 2.875rem   !default;           // Content Section Headings
$h3-font-size: 1.825rem   !default;           // Content Section Sub-headings
$h4-font-size: 1.475rem   !default;           // Apartment Info Labels etc...
$h5-font-size: 1.25rem   !default;            // [body font*] Normal headings/buttons
$h6-font-size: 0.875rem   !default;           // [body font*] Smaller (nav-item) sub-headings

$bg-gradient: linear-gradient(-162deg, $primary 45%, $secondary 100%) !default;
$bg-gradient-light: linear-gradient(-162deg, $primary-light 45%, $secondary-light 100%) !default;
$bg-gradient-dark: linear-gradient(-162deg, $primary-dark 45%, $secondary-dark 100%) !default;
$bg-gradient-active: linear-gradient(-162deg, $primary-active 45%, $secondary-active 100%) !default;
$bg-gradient-inactive: linear-gradient(-162deg, $primary-inactive 45%, $secondary-inactive 100%) !default;

