.gutters {
  padding-left: $gutters-gap-mobile !important;
  padding-right: $gutters-gap-mobile !important;
 
  @include media(">=lg") {
   padding-left: $gutters-gap !important;
   padding-right: $gutters-gap !important; 
  }
 }

 .row {
  background-size: cover;
  background-position: center;
 
  &.internal-gutters {
   padding-left: $gutters-gap-mobile !important;
   padding-right: $gutters-gap-mobile !important;
 
   @include media(">=lg") {
    padding-left: $gutters-gap !important;
    padding-right: $gutters-gap !important;
   }
  } 
 } 
