#navbar-right-main {
 overflow-x: hidden;
 -webkit-overflow-scrolling: touch;
 position: fixed;
 width: auto;
 right: 0;
 top: 0;
 display: flex !important;
 flex-flow: row;
 align-items: flex-start;
 justify-content: space-between;
 padding: 0;
 height: 72px;
 z-index: 1031;

 &[data-nav-open="opened"] {
  box-shadow: 0px 0px 2px 0px rgba($dark, 0.15);
 }

 z-index: 1398;

 #sidebar-right-nav-button {
  display: flex;
  margin: 0;
  padding: 0 14px;
  height: 72px;
  box-shadow: none;
 }

 #sidebar-right-enquire-button {
  display: flex;
  margin: 0;
  padding: .5rem 2rem;
  min-height: 72px;
  box-shadow: none;
  align-items: center;
  justify-content: center;
 }

 .sub-menu {
  display: none;

  @include media(">=md") {
   display: block;
  }
 }
}

#sidebar-right-enquire {
 overflow-x: hidden;
 -webkit-overflow-scrolling: touch;
 overflow-y: auto;
 right: -100%;
 z-index: 1303;
 top: 0;
 width: 100% !important;
 position: fixed;
 max-width: 100%;
 background: $primary;
 color: $white !important;

 .wrapper {
  min-height: 100vh;
 }

 .gform_wrapper {
  .gfield_label {
   color: $white;
  }

  .form-control {
   color: $dark;
   background: none !important;

   &::placeholder,
   & select,
   & select::placeholder {
    color: #555e74;
   }

   select {
    color: $dark;
   }
  }

  .gform_footer {
   display: block;
   width: 100%;
  }

  .ginput_container {
   width: 100%;
   margin-bottom: 2rem;
   border-bottom: 1px solid rgba(255, 255, 255, 0.75);
  }

  .btn-form-submit {
   background: none !important;
   color: $white !important;
   margin-right: auto !important;
   border: 1px solid $white !important;

   @include media(">=lg") {
    margin-left: calc(50% + 0.625rem);
   }
  }
 }

 @include media(">=md") {
  width: 1088px !important;
  right: -1088px;
 }

 @include media(">=lg") {
  max-width: calc(100vw - 80px) !important;
 }

 &[data-nav-open="opened"] {
  box-shadow: 0px 0px 2px 0px rgba($primary-dark, 0.24);
 }
}

#header-menu {
 min-height: calc(100vh - 9rem);
}

.logo-mobile {
 width: 14rem !important;
 max-width: 100%;
 padding: 0 16px 0 3rem;
 display: block !important;
 margin: 0 auto !important;

 @include media(">=md") {
  display: none !important;
 }
}
