$tcon-size: 52px !default;
$tcon-transition: all .25s linear !default;
$tcon-jstransform: 'tcon-transform' !default;
$tcon-menu-radius: 0 !default;
$tcon-menu-color: #fff !default;
$tcon-menu-arrowleft-transformation: (
  transform: scale3d(.8, .8, .8) rotate3d(0, 0, 1, 90deg)
) !default;
$tcon-menu-arrow360left-transformation: (
  transform: scale3d(.8, .8, .8) rotate3d(0, 0, 1, 360deg)
) !default;
.tcon {
  appearance: none;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  height: $tcon-size;
  transition: $tcon-transition;
  user-select: none;
  width: $tcon-size;
  background: transparent;
  outline: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-tap-highlight-color: transparent;

  > * {
    display: block;
  }

  &:hover,
  &:focus {
    outline: none;
  }
  &::-moz-focus-inner {
    border: 0;
  }
}

@mixin tcon-menu-lines {
  display: inline-block;
  height: 1px;
  width: $tcon-size;
  border-radius: $tcon-menu-radius;
  transition: $tcon-transition;
  will-change: transform;
  background: $tcon-menu-color;
}

.tcon-menu__lines {
  @include tcon-menu-lines;
  position: relative;

  &::before,
  &::after {
    @include tcon-menu-lines;
    content: '';
    position: absolute;
    left: 0;
    transform-origin: ($tcon-size / 14) center;
    width: 100%;
  }

  &::before {
    top: ($tcon-size / 4);
  }

  &::after {
    top: -($tcon-size / 4);
  }

  .#{$tcon-jstransform} & {
    transform: scale3d(.8, .8, .8);
  }
}
.tcon-menu--xcross {
  width: auto;

  &.#{$tcon-jstransform} {
    .tcon-menu__lines {
      background: transparent !important;
      height: 1.25px;
      &::before,
      &::after {
        transform-origin: 50% 50%;
        top: 0;
        width: $tcon-size;
      }

      &::before {
        transform: rotate3d(0, 0, 1, 45deg);
        height: 1.25px;
      }

      &::after {
        transform: rotate3d(0, 0, 1, -45deg);
        height: 1.25px;
      }
    }
  }
}


.tcon-visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;

  &:active,
  &:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
  }
}
$tcon-plus-bg: transparent !default;
$tcon-circle-radius: 80% !default;
$tcon-plus-radius: ($tcon-size / 8) !default;
$tcon-plus-color: black !default;
$tcon-remove-color: black !default;

.tcon-remove {
  height: $tcon-size;
  position: relative;
  transform: scale(.75);
  width: $tcon-size;

  &::before,
  &::after {
    content: "";
    display: block;
    height: 25%;
    width: 85%;
    position: absolute;
    top: 37%;
    left: 8%;
    transition: $tcon-transition;
    background: $tcon-remove-color;
  }

  &::before {
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }
}

.tcon-remove--chevron-left {
  &.#{$tcon-jstransform} {
    &::before {
      left: 20%;
      transform: translate(0, -55%) rotate(-45deg) ;
      width: 62%;
    }

    &::after {
      left: 20%;
      transform: translate(0, 55%) rotate(45deg);
      width: 62%;
    }
  }
}

.tcon-remove--chevron-right {
  &.#{$tcon-jstransform} {
    &::before {
      left: 20%;
      transform: translate(0, 55%) rotate(-45deg) ;
      width: 62%;
    }

    &::after {
      left: 20%;
      transform: translate(0, -55%) rotate(45deg);
      width: 62%;
    }
  }
}

.tcon-remove--chevron-down {
  &.#{$tcon-jstransform} {
    &::before {
      left: 5%;
      transform: rotate(-135deg);
      width: 59%;
    }

    &::after {
      left: auto;
      right: 10%;
      transform: rotate(135deg);
      width: 60%;
    }
  }
}

.tcon-remove--chevron-up {
  &.#{$tcon-jstransform} {
    &::before {
      left: 5%;
      transform: rotate(-45deg);
      width: 59%;
    }

    &::after {
      left: auto;
      right: 10%;
      transform: rotate(45deg);
      width: 60%;
    }
  }
}

$tcon-search-size: ($tcon-size * 0.75) !default;
$tcon-search-radius: ($tcon-size / 14) !default;
$tcon-search-color: black !default;
$tcon-search-glass-color: white !default;
$tcon-search-handle-width: ($tcon-size / 10) !default;
$tcon-search-glass-radius: ($tcon-size / 3.3333) !default;
$tcon-search-glass-border-width: ($tcon-size / 20) !default;
@mixin search-item {
  display: inline-block;
  height: $tcon-search-size;
  width: $tcon-search-size;
  border-radius: 0;
  transition: $tcon-transition;
  background: transparent;
}

.tcon-search__item {
  @include search-item;
  position: relative;
  transform: rotate(-45deg);

  &::before,
  &::after {
    @include search-item;
    content: '';
    position: absolute;
    width: 100%;
    top: 0;
    bottom: 0;
    margin: auto;
  }

  &::before {
    height: $tcon-search-handle-width;
    left: 0;
    background: $tcon-search-color;
    border-radius: $tcon-search-radius;
  }

  &::after {
    right: 0;
    background: $tcon-search-glass-color;
    border-radius: 50%;
    width: $tcon-search-glass-radius;
    height: $tcon-search-glass-radius;
    border: $tcon-search-glass-border-width solid black;
    transform-origin: 50% 50%;
  }
}
.tcon-search--xcross {
  &.#{$tcon-jstransform} {
    transform: scale3d(.8, .8, .8);
    
    .tcon-search__item {
      &::before, &::after {
        border-radius: $tcon-search-radius;
        background: $tcon-search-color;
      }

      &::after {
        height: $tcon-search-handle-width;
        width: 100%;
        top: 0;
        right: 0;
        border: 0;
        transform: rotate3d(0, 0, 1, 90deg);
      }
    }
  }
}
