// .active.nav-item > a {
//   color: $secondary-light;
// }
// .row-footer-multisite-nav .nav-item:hover a {
//   color: $mystirling-blue !important;
// }
@media only screen and (max-width: 364px) {
  #wrapper-navbar #myStirlingNavbarBrand.navbar-brand>svg {
    max-width: 110px !important;
  }
}

#page-wrapper {
  padding-top: 72px;
}

#wrapper-navbar {
  position: fixed;
  width: 100%;
  height: 72px;
  z-index: 21;
  #myStirlingNavbarBrand {
    &.navbar-brand {
      margin: 0;
      padding-top: 5px;
      padding-bottom: 5px;
      padding-left: 0;
      padding-right: 0;
      display: inline-block;
      position: relative;

      >img,
      >svg {
        margin: 0;
        padding: 0;
        max-width: 160px;
        height: auto;
        object-fit: contain;
        object-position: left center;
        display: inline-block;

        @include media(">=lg") {
          max-width: 100%;
        }
      }
    }
  }

  .navbar {
    display: flex;
    justify-content: space-between;
    padding: 0;
  }
}

.row-footer-multisite-nav {
  .nav-item {

    &:hover,
    &:focus,
    &:active {
      color: $mystirling-blue;

      a {
        color: $mystirling-blue !important;
      }
    }

    &.active {
      color: $mystirling-blue;

      a {
        color: $mystirling-blue !important;
      }
    }
  }
}

// .navbar-nav {
//  .nav-item {
//   list-style: none;
//   text-align: center;
//   width: 100%;
//   display: block;
//   >a {
//    width: 100%;
//    display: block;
//    list-style: none;
//    text-align: center;
//   }
//  }
//  .sub-menu {
//   padding: 0;
//   list-style: none;
//   margin-top: 6px;
//  }
//  >.nav-item {
//   font-size: 1.125rem;
//   margin-top: 2px;
//   margin-bottom: 1rem;
//   text-transform: uppercase;
//   letter-spacing: 1px;
//   >a {
//    font-size: 1.125rem;
//    text-transform: uppercase;
//   }
//   .sub-menu {
//    >.nav-item {
//     margin-top: 2px;
//     margin-bottom: 2px;
//     font-size: 0.875rem;
//     letter-spacing: .2px;
//     text-transform: none;
//     >a {
//      font-size: 0.875rem;
//      text-transform: none;
//     }
//    }
//   }
//  }
// }
#ldSidenavMask {
  height: 100vh;
  width: 100vw;
  z-index: 0;
  background: rgba(0, 0, 0, 0.5);
  display: block;
  position: fixed;
  top: 0;
  left: 0;
}
